@model ProductModel

<div class="item">
	<div class="image-section">
		<img src="@Model.ImageUrl" alt="@Model.ProductName" />
		<div class="menu">
			<div class="icons">
				<button class="link">
					<i class="fa-regular fa-code-compare"></i>
				</button>
				<button class="link">
					<i class="fa-regular fa-heart"></i>
				</button>
				<button class="link">
					<i class="fa-regular fa-bag-shopping"></i>
				</button>
			</div>
			<a class="btn-theme" asp-controller="Product" asp-action="Index" asp-route-productId="@Model.ProductId">QUICK VIEW</a>
		</div>
	</div>
	<div class="body-section">
		<div class="category">@Model.Category.CategoryName</div>
		<div class="name">@Model.ProductName</div>
		<partial name="~/Views/Shared/Partials/Components/_StarRating.cshtml" model="Model.Rating" />
		<div class="price">$@Model.Price.ToString("0.00")</div>
	</div>
</div>